@charset "UTF-8";
/*
Phone -- 0-600px
Tablet-portrait -- 600px-900px
Tablet-landscape -- 900px-1200px
Big-desktop -- 1800+ px

Breakpoint choices
phone
tab-port
tab-land
big-desktop

*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: Mazzard-thin;
  src: url("../fonts/M/MazzardM-Thin.otf"); }

@font-face {
  font-family: Mazzard-Medium;
  src: url("../fonts/M/MazzardM-Medium.otf"); }

@font-face {
  font-family: Mazzard-SemiBold;
  src: url("../fonts/M/MazzardM-SemiBold.otf"); }

@font-face {
  font-family: Mazzard-Regular;
  src: url("../fonts/M/MazzardM-Regular.otf"); }

@font-face {
  font-family: Mazzard-Light;
  src: url("../fonts/M/MazzardM-Light.otf"); }

@font-face {
  font-family: Mazzard-ExtraLight;
  src: url("../fonts/M/MazzardM-ExtraLight.otf"); }

@font-face {
  font-family: Mazzard-ExtraBold;
  src: url("../fonts/M/MazzardM-ExtraBold.otf"); }

@font-face {
  font-family: Mazzard-Bold;
  src: url("../fonts/M/MazzardM-Bold.otf");
  font-weight: 600; }

@font-face {
  font-family: Mazzard-Black;
  src: url("../../fonts/M/MazzardM-Black.otf"); }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  transition: .3s; }

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #7ab3f8;
  border-radius: 10px; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Mazzard-Regular, "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #333d47; }

.heading-primary {
  font-family: Mazzard-Bold;
  font-weight: bold;
  font-size: 4.4rem;
  line-height: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3.8rem;
      line-height: 4rem; } }

.heading-primary-small {
  font-size: 3.7rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary-small {
      font-size: 3rem; } }

.heading-primary-small--sub {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.2rem; }

.heading-primary--sub {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem; }

.heading-2 {
  font-family: Mazzard-Bold;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.8rem; }

.heading-2--sub {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem; }

.heading-description__top-text {
  color: #0668e3;
  font-family: Mazzard-Bold;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0.380952px;
  text-transform: uppercase; }
  .heading-description__top-text--white {
    color: #ffffff99; }

.heading-3 {
  font-family: Mazzard-SemiBold;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem; }
  .heading-3--light {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem; }
  .heading-3--careers {
    font-family: Mazzard-Regular;
    font-size: 1.8rem;
    line-height: 2.4rem; }

.heading-3--sub {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem; }

.heading-4 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #ffffff; }
  .heading-4--black {
    color: #333d47;
    font-family: Mazzard-SemiBold; }

.heading-5 {
  font-family: Mazzard-SemiBold;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem; }

.heading-6 {
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 2.6rem; }

.heading-small {
  font-family: Mazzard-Bold;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem; }

.paragragh-1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem; }

.paragraph-remark {
  position: relative;
  padding-left: 3rem; }
  .paragraph-remark::before {
    position: absolute;
    content: "😁";
    left: 0;
    top: 0; }

.paragragh-2 {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem; }

.paragragh-3 {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: inherit; }

.paragragh-4 {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #212529; }

.agree-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #5b5c5d; }
  @media only screen and (max-width: 28.75em) {
    .agree-text {
      margin-bottom: 1.9rem; } }

.centerAlign {
  text-align: center; }

.margin-bottom-big {
  margin-bottom: 10.5rem; }

.margin-bottom-medium {
  margin-bottom: 5rem; }

.margin-bottom-small {
  margin-bottom: 1rem; }

.margin-bottom-1 {
  margin-bottom: 2rem; }

.margin-bottom-2 {
  margin-bottom: 6rem; }

.margin-bottom-3 {
  margin-bottom: 0.3rem; }

.margin-bottom-4 {
  margin-bottom: 3.5rem; }

.margin-bottom-5 {
  margin-bottom: 0.5rem; }

.margin-top-1 {
  margin-top: 2rem; }

.margin-top-2 {
  margin-top: 4rem; }

.margin-right-small {
  margin-right: 2rem; }

.margin-right-1 {
  margin-right: 1rem; }

.padding-bottom-100 {
  padding-bottom: 10rem !important; }

.padding-top-100 {
  padding-top: 10rem !important; }

.color-white {
  color: #ffffff; }

.color-white-1 {
  color: #fffffffc; }

.color-black-1 {
  color: #333d47; }

.color-orange {
  color: #ff9000; }

.bg-color-primary {
  background-color: #0668e3; }

.bg-color-light {
  background-color: #f6faff; }

.display-block {
  display: block !important; }

.padding-y-100 {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.overflow-visible {
  overflow-y: visible !important; }

.overflow-x-hidden {
  overflow-x: hidden !important; }

.position-relative {
  position: relative !important; }

.btn {
  background-color: #ff9000;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
  cursor: pointer; }
  .btn__links-item:link, .btn__links-item:visited {
    padding: 1.2rem 3rem;
    display: inline-block;
    text-decoration: none; }
  .btn:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-0.05px);
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1); }
  .btn__button {
    border: none;
    padding: 1.2rem 3rem; }
  .btn__full {
    width: 100%; }

.steps__list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center; }
  .steps__list-item {
    position: relative;
    padding-left: 4rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
    align-self: center; }
    .steps__list-item::before {
      position: absolute;
      content: url(../img/steps-mark.svg);
      top: -0.1rem;
      left: 0; }
  @media only screen and (max-width: 37.5em) {
    .steps__list {
      display: grid;
      grid-template-columns: auto;
      justify-content: flex-start; } }

.customer-story-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }
  .customer-story-card__box {
    background-image: url(../img/card-stripes.png);
    background-repeat: no-repeat;
    background-size: 36.3rem 20rem;
    background-position: bottom right;
    background-color: #f6faff;
    border-radius: 1.5rem; }
    .customer-story-card__box--top {
      padding: 3rem 2.5rem; }
    .customer-story-card__box--bottom {
      padding: 3rem 2.5rem;
      border-top: 1px solid #ebf1ff;
      display: flex;
      flex-direction: row;
      align-items: center; }
  .customer-story-card__img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    margin-right: 1rem; }
    .customer-story-card__img-image {
      object-fit: cover;
      border-radius: 50%;
      width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .customer-story-card {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .customer-story-card {
      grid-template-columns: repeat(1, 1fr); } }

.have-a-question {
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #ebf1ff9d;
  border-radius: 2rem;
  padding: 5rem 2rem;
  text-align: center;
  background-image: url(../img/question-stripe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: translateY(50%); }

.links:link, .links:visited {
  color: #ff9000;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s; }

.links:hover, .links:active {
  color: #945502; }

.links:not(:last-child) {
  margin-right: 3rem; }

.links.small-link {
  font-size: 1.5rem;
  line-height: 2rem; }
  @media only screen and (max-width: 28.75em) {
    .links.small-link {
      margin-top: 2rem; } }

.links-social {
  color: #0668e3;
  text-decoration: none;
  font-size: 2.5rem; }
  .links-social:not(:last-child) {
    margin-right: 1rem; }

.links-info {
  padding: 1.5rem;
  background-color: #ff9000;
  color: #ffffff; }

.standout-card {
  background-color: #ffffff;
  border: 1px solid #003a9c05;
  box-shadow: 0px 0px 30px rgba(6, 104, 227, 0.05);
  border-radius: 10px;
  background-image: url(../img/standout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 4rem;
  display: flex;
  flex-direction: row; }

.input-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.9rem; }
  @media only screen and (max-width: 28.75em) {
    .input-grid-2 {
      grid-template-columns: 1fr;
      margin-bottom: 1.9rem;
      grid-gap: 0; } }

.input-grid-2-jcbetween-aicenter {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2.1rem;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 28.75em) {
    .input-grid-2-jcbetween-aicenter {
      grid-template-columns: 1fr;
      grid-gap: 0;
      margin-bottom: 1.9rem; } }

.input-group:not(:last-child) {
  margin-bottom: 1.9rem; }

.input__label {
  font-weight: 400;
  font-size: 1.4rem;
  color: #5b5c5d;
  display: block;
  margin-bottom: 0.35rem;
  text-transform: capitalize; }

.input__input {
  width: 100%;
  border: 1px solid #d6dde8;
  border-radius: 0.4rem;
  padding: 1.4rem 1.2rem;
  resize: none;
  font-family: inherit; }
  .input__input:focus {
    outline: none; }
  .input__input::placeholder {
    color: #5b5c5d;
    font-size: 1.5rem;
    font-family: inherit; }

.team {
  display: grid;
  grid-template-columns: repeat(3, minmax(34.6rem, 1fr));
  grid-gap: 4rem; }
  .team__member-image {
    height: 26rem;
    border-radius: 1rem;
    overflow: hidden; }
    @media only screen and (max-width: 75em) {
      .team__member-image {
        height: 46rem; } }
    @media only screen and (max-width: 56.25em) {
      .team__member-image {
        height: 40rem; } }
    @media only screen and (max-width: 28.75em) {
      .team__member-image {
        height: 35rem; } }
  .team__member-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .team__member-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  @media only screen and (max-width: 75em) {
    .team {
      grid-template-columns: repeat(2, minmax(34.6rem, 1fr)); } }
  @media only screen and (max-width: 56.25em) {
    .team {
      grid-template-columns: 1fr; } }

.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #ffffff; }
  .table-1 {
    border: 1px solid #d6dde8;
    border-radius: 1rem; }
    .table-1__head {
      border-radius: 1rem; }
      .table-1__head th {
        text-align: left;
        padding: 2rem 2.5rem;
        border: 1px solid #d6dde8;
        background-color: #0668e3;
        color: #ffffff;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2rem; }
    .table-1__data td {
      text-align: left;
      padding: 2rem 2.5rem;
      border: 1px solid #d6dde8;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem; }
  .table-2 {
    border: 1px solid #d6dde8;
    border-radius: 1rem; }
    .table-2__head {
      border-radius: 1rem; }
      .table-2__head th {
        text-align: center;
        padding: 2rem 0.2rem;
        border: 1px solid #d6dde8; }
        @media only screen and (max-width: 56.25em) {
          .table-2__head th {
            padding: 2rem 1rem; } }
    .table-2__data td {
      text-align: center;
      padding: 2rem 0.2rem;
      border: 1px solid #d6dde8;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem; }
      .table-2__data td[class*="--title"] {
        background-color: #0668e3;
        color: #ffffff;
        text-align: left;
        padding-left: 1rem;
        font-weight: 500;
        font-size: 1.5rem; }
        @media only screen and (max-width: 56.25em) {
          .table-2__data td[class*="--title"] {
            padding: 2rem; } }
      .table-2__data td.highest {
        color: #0668e3; }
        @media only screen and (max-width: 56.25em) {
          .table-2__data td.highest {
            padding: 2rem 1rem; } }
      .table-2__data td.total {
        font-weight: 600; }
        @media only screen and (max-width: 56.25em) {
          .table-2__data td.total {
            padding: 2rem 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .table-2__data td {
          padding: 2rem 1rem; } }

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -300px;
  transition: .4s;
  padding: 25px 20px 30px 20px;
  background-color: #f6faff;
  z-index: 999; }
  .mobile-nav__close-btn {
    font-size: 30px;
    color: #0668e3;
    cursor: pointer; }
  .mobile-nav__open-btn {
    position: relative;
    margin-top: 0.9rem;
    user-select: none; }
    .mobile-nav__open-btn, .mobile-nav__open-btn::before, .mobile-nav__open-btn::after {
      width: 3rem;
      height: 0.4rem;
      display: inline-block;
      background-color: #0668e3;
      transition: all 0.3s; }
    .mobile-nav__open-btn::before, .mobile-nav__open-btn::after {
      content: "";
      position: absolute;
      right: 0; }
    .mobile-nav__open-btn::before {
      top: -0.9rem; }
    .mobile-nav__open-btn::after {
      top: 0.9rem; }
    .mobile-nav__open-btn--wrapper {
      display: none; }
      .mobile-nav__open-btn--wrapper:hover span::before {
        width: 2.4rem; }
      .mobile-nav__open-btn--wrapper:hover span::after {
        width: 3.6rem; }
      @media only screen and (max-width: 56.25em) {
        .mobile-nav__open-btn--wrapper {
          display: block; } }
  .mobile-nav__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .mobile-nav__links {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 7rem; }
    .mobile-nav__links--items {
      margin-bottom: 2rem; }
  .mobile-nav__bottom {
    display: flex;
    flex-direction: column; }

@media only screen and (max-width: 37.5em) {
  .br--1, .br--2, .br--3 {
    display: none; } }

@media only screen and (max-width: 56.25em) {
  .br--4, .br--5, .br--6, .br--7, .br--8 {
    display: none; } }

.row {
  width: 100%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.center {
  max-width: 115rem;
  margin: 0 auto; }
  .center::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .center {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

body {
  background-image: url("../img/body-line.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left; }

.top-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0; }
  .top-nav__logo {
    width: 14rem;
    height: 2.7rem; }
  .top-nav__links {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .top-nav__links-item:not(:last-child) {
      margin-right: 4rem; }
    .top-nav__links-item:link, .top-nav__links-item:visited {
      color: #212529;
      font-style: normal;
      font-family: Mazzard-Medium;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-decoration: none;
      transition: 0.3s; }
    .top-nav__links-item:hover, .top-nav__links-item:active {
      color: #0668e3; }
    .top-nav__links-item.active {
      color: #0668e3; }
    @media only screen and (max-width: 56.25em) {
      .top-nav__links {
        display: none; } }

.nav-top {
  border-bottom: 1px solid #a4b6cd3f; }

.header__top-header {
  padding: 2.5rem 0 0;
  overflow-x: hidden; }
  .header__top-header--home {
    padding: 8rem 0 8rem;
    position: relative; }
    @media only screen and (max-width: 65.31em) {
      .header__top-header--home {
        padding-top: 5rem; } }
  .header__top-header--about {
    padding: 0 0 4rem;
    overflow: visible; }
    @media only screen and (max-width: 65.31em) {
      .header__top-header--about {
        padding: 4rem 0 4rem; } }
  .header__top-header--referal {
    padding: 4rem 0 6rem;
    overflow: visible;
    background-image: url(../img/blue-bg.svg);
    background-repeat: no-repeat;
    background-size: 72rem 44.9rem;
    background-position: top right; }
    @media only screen and (max-width: 65.31em) {
      .header__top-header--referal {
        background-image: none; } }

.top-header {
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 65.31em) {
    .top-header__left {
      width: 50%;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (max-width: 56.25em) {
    .top-header__left {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .top-header__left {
      width: 100%; } }
  @media only screen and (max-width: 65.31em) {
    .top-header__right {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .top-header__right {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .top-header__right {
      width: 100%; } }
  .top-header__img--home {
    transform: translateX(15rem);
    z-index: 1;
    width: 100%;
    margin-left: auto; }
    @media only screen and (max-width: 65.31em) {
      .top-header__img--home {
        transform: translateX(0);
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .top-header__img--home {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .top-header__img--home {
        width: 100%; } }
  .top-header__img--loan {
    width: 80%;
    margin-left: auto; }
    @media only screen and (max-width: 65.31em) {
      .top-header__img--loan {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .top-header__img--loan {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .top-header__img--loan {
        width: 100%; } }
  .top-header__img--about {
    transform: translateY(9.5rem); }
    @media only screen and (max-width: 65.31em) {
      .top-header__img--about {
        display: none; } }
  @media only screen and (max-width: 65.31em) {
    .top-header__img--referal {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .top-header__img--referal {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .top-header__img--referal {
      width: 100%; } }
  .top-header__options-navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #d6dde870; }
    .top-header__options-navigator--btn {
      color: #ffffff85;
      padding-bottom: 1.5rem;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem;
      position: relative;
      transition: .3s; }
      .top-header__options-navigator--btn:not(:last-child) {
        margin-right: 4rem; }
      .top-header__options-navigator--btn::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: #ff9000;
        transition: .3s; }
      .top-header__options-navigator--btn.active {
        color: #fffffffc; }
      .top-header__options-navigator--btn.active::after {
        height: 0.3rem; }
  .top-header__option--2 {
    display: none; }
  .top-header__option-link {
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media only screen and (max-width: 28.75em) {
      .top-header__option-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start; } }
  @media only screen and (max-width: 65.31em) {
    .top-header {
      grid-template-columns: 100%; } }

.header-bottom-prime {
  height: 14rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff; }

#investImg {
  display: none; }

.how-it-works-2__steps {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem 5rem;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .how-it-works-2__steps {
      grid-template-columns: 100%;
      grid-gap: 5rem 0; } }
  .how-it-works-2__steps-box {
    text-align: center; }
  .how-it-works-2__steps-number {
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto; }
    .how-it-works-2__steps-number span {
      font-size: 1.3rem;
      color: #212529; }

.standout-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .standout-layout {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem 0; } }

.header__simple-header {
  padding: 10rem 0; }
  @media only screen and (max-width: 28.75em) {
    .header__simple-header {
      padding: 7rem 0; } }

.faq__toggler {
  border: 1px solid #e7eaef;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #ffffff; }

.faq__type {
  padding: 2rem 1rem 2rem 2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
  display: block;
  transition: .3s;
  cursor: pointer; }
  .faq__type:not(:last-child) {
    border-bottom: 1px solid #e7eaef; }
  .faq__type.active {
    background-color: #0668e3;
    color: #ffffff; }

.faq__wrapper {
  display: flex;
  flex-direction: column; }

.faq__main-container {
  border: 1px solid #e7eaef;
  border-radius: 0.3rem;
  background-color: #ffffff; }
  .faq__main-container:not(:last-child) {
    margin-bottom: 2rem; }

.faq__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem;
  border-bottom: 1px solid #e7eaef;
  cursor: pointer; }

.faq__toggle-icon {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: #cee1f8;
  display: grid;
  place-items: center; }
  .faq__toggle-icon span {
    color: #0668e3;
    font-weight: 400;
    font-size: 1.3rem; }
  .faq__toggle-icon--plus, .faq__toggle-icon--minus {
    transition: .3s;
    display: none; }
  .faq__toggle-icon--plus.active, .faq__toggle-icon--minus.active {
    display: block; }

.faq__content {
  padding: 1.8rem;
  color: #333d47;
  display: none; }

#investFaqWrapper,
#referFaqWrapper {
  display: none; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown__content {
    background-color: #fffffffc;
    border: 1px solid rgba(214, 221, 232, 0.42);
    box-shadow: 0px 0.2rem 1.4rem rgba(51, 61, 71, 0.0917559);
    border-radius: 1rem;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    min-width: 37rem;
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 9999999999;
    transform: translateX(-40%); }
    .dropdown__content-top {
      display: flex;
      flex-direction: column;
      padding: 0.5rem; }
    .dropdown__content-links {
      padding: 1.5rem;
      display: block;
      transition: .3s;
      text-decoration: none;
      margin-bottom: 0rem;
      border: 0.5px solid transparent;
      border-radius: .5rem;
      font-family: Mazzard-Medium;
      color: inherit; }
      .dropdown__content-links--title {
        font-family: Mazzard-Medium;
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: 0.5rem; }
      .dropdown__content-links--description {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgba(51, 61, 71, 0.7); }
      .dropdown__content-links:hover {
        background: rgba(255, 144, 0, 0.03);
        border-color: rgba(255, 144, 0, 0.24817); }
    .dropdown__content:hover {
      display: block; }
    .dropdown__content.active {
      opacity: 1;
      visibility: visible; }
    .dropdown__content-bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-top: 1px solid #D6DDE8; }
      .dropdown__content-bottom > * {
        padding-left: 2.5rem; }
        .dropdown__content-bottom > *:not(:last-child) {
          border-right: 1px solid #D6DDE8; }
      .dropdown__content-bottom a {
        margin-bottom: 0; }

.mobile-dropdown {
  position: relative;
  margin-bottom: 2rem; }
  .mobile-dropdown__content {
    background-color: #fffffffc;
    border: 1px solid rgba(214, 221, 232, 0.42);
    border-radius: 0 0 1rem 1rem;
    transition: .3s;
    display: none;
    width: 100%;
    z-index: 9999999999; }
    .mobile-dropdown__content-top {
      display: flex;
      flex-direction: column;
      padding: 1rem; }
    .mobile-dropdown__content-links {
      padding: 1rem .5rem;
      display: block;
      transition: .3s;
      text-decoration: none;
      border: 0.5px solid transparent;
      border-radius: .5rem;
      margin-bottom: 1rem;
      color: inherit; }
      .mobile-dropdown__content-links--title {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem; }
      .mobile-dropdown__content-links--description {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgba(51, 61, 71, 0.7);
        display: none; }
      .mobile-dropdown__content-links:hover {
        background: rgba(255, 144, 0, 0.03);
        border-color: rgba(255, 144, 0, 0.24817); }
    .mobile-dropdown__content.active {
      display: block; }
  .mobile-dropdown__toggle.active {
    background-color: #0668e3;
    color: #ffffff;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-radius: .5rem .5rem 0 0;
    display: block;
    margin: 0; }

.footer {
  background-color: #181d27;
  padding: 20rem 0 10rem; }
  .footer__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 6rem; }
  .footer__app-text {
    display: block;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #ffffffcc; }
  .footer__app-store {
    display: inline-block; }
    .footer__app-store:not(:last-child) {
      margin-right: 0.6rem; }
  .footer__mini-heading {
    font-weight: 300;
    display: block;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff; }
  .footer__links {
    display: flex;
    flex-flow: row wrap; }
    .footer__links-lists {
      display: flex;
      flex-direction: column; }
      .footer__links-lists:not(:last-child) {
        margin-right: 9rem; }
    .footer__links-head {
      color: #ffffff;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem; }
    .footer__links-item {
      font-weight: 300;
      font-size: 1.6rem;
      color: #9096a5;
      margin-bottom: 1.5rem;
      text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .footer__links {
        margin-top: 7rem; } }
  .footer__bottom {
    border-top: 1px solid #ffffff1f;
    padding-top: 6rem; }
  .footer__paragraph {
    color: #9096a5;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.9rem; }

.section__heading-products {
  padding: 9rem 0 0;
  background-image: url(../img/Gro.png);
  background-repeat: no-repeat;
  background-size: 39.4rem 44.2rem;
  background-position: bottom right; }
  @media only screen and (max-width: 56.25em) {
    .section__heading-products {
      background-image: none; } }

.loan-application {
  display: grid;
  grid-template-columns: 50% auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .loan-application {
      grid-template-columns: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .loan-application__form-img {
      margin-left: auto;
      margin-right: auto;
      grid-row: 1; } }
  @media only screen and (max-width: 37.5em) {
    .loan-application__form-img {
      width: 100%; } }

.section__solid-returns {
  background-image: url(../img/Grou.png);
  background-repeat: no-repeat;
  background-size: 39.4rem 44.2rem;
  background-position: bottom left; }
  @media only screen and (max-width: 56.25em) {
    .section__solid-returns {
      padding-bottom: 7rem;
      background-image: none; } }

.solid-returns {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .solid-returns {
      grid-template-columns: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .solid-returns__table-img {
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (max-width: 37.5em) {
    .solid-returns__table-img {
      width: 100%; } }

.section__why-nodcredit {
  background-image: url(../img/background-logo.png), url(../img/bg-stripes.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 72.4rem 11.3rem, cover;
  background-position: bottom left, center center;
  padding: 10rem 0;
  background-color: #f6faff; }
  @media only screen and (max-width: 56.25em) {
    .section__why-nodcredit {
      background-size: 70%, cover; } }

.why-nodcredit {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: space-between; }
  @media only screen and (max-width: 65.31em) {
    .why-nodcredit {
      grid-template-columns: auto 60%; } }
  @media only screen and (max-width: 56.25em) {
    .why-nodcredit {
      grid-template-columns: 100%; } }
  .why-nodcredit__breakdown {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem 2rem;
    justify-content: space-between; }
    .why-nodcredit__breakdown-steps--number {
      display: block;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #212529; }
    @media only screen and (max-width: 56.25em) {
      .why-nodcredit__breakdown {
        margin-top: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .why-nodcredit__breakdown {
        grid-template-columns: 100%;
        grid-gap: 3rem 0; } }

.section__customer-story {
  padding: 8rem 0 0; }

.section__how-it-works-2 {
  background-color: #0668e3;
  padding: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .section__how-it-works-2 {
      padding: 8rem 0; } }

.section__standout {
  padding: 10rem 0 0; }

.section__compare {
  padding: 10rem 0; }

.compare-layout {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 3rem; }
  @media only screen and (max-width: 65.31em) {
    .compare-layout {
      grid-template-columns: 100%;
      grid-gap: 3rem 0; } }
  @media only screen and (max-width: 65.31em) {
    .compare-layout__form {
      width: 60%;
      margin-left: auto;
      margin-right: auto; } }
  .compare-layout__table {
    overflow-x: scroll; }

.section__advisory-boards {
  padding: 10rem 0; }

.advisory-board {
  display: flex;
  flex-direction: row;
  padding-bottom: 4rem;
  padding-top: 4rem; }
  .advisory-board__details {
    padding-left: 4rem;
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .advisory-board__details {
        padding-left: 0;
        margin-top: 2rem; } }
  .advisory-board__image-holder {
    width: 34.6rem;
    height: 26rem;
    border-radius: 1rem;
    overflow: hidden; }
    @media only screen and (max-width: 28.75em) {
      .advisory-board__image-holder {
        width: 100%; } }
  .advisory-board__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .advisory-board:not(:last-child) {
    border-bottom: 1px solid #d6dde8; }
  @media only screen and (max-width: 56.25em) {
    .advisory-board {
      display: flex;
      flex-direction: column; } }

.section__faq {
  padding: 10rem 0; }

.faq-layout {
  display: grid;
  grid-template-columns: 22% 75%;
  grid-gap: 3rem 3%; }
  @media only screen and (max-width: 56.25em) {
    .faq-layout {
      grid-template-columns: 1fr;
      grid-gap: 3rem 0; } }

.section__career-gallery {
  padding: 9rem 0 0; }

.career-gallery__img {
  object-fit: cover;
  width: 100%; }

.center-positions {
  width: 65%;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 37.5em) {
    .center-positions {
      width: 100%; } }

.section__contact {
  padding: 10rem 0; }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem; }
  .contact__info--details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__info--details {
        grid-template-columns: 1fr;
        grid-gap: 4rem 0; } }
  @media only screen and (max-width: 65.31em) {
    .contact {
      grid-template-columns: 1fr;
      grid-gap: 5rem 0; } }

.section__about-heading {
  padding: 17rem 0 7rem; }
  @media only screen and (max-width: 65.31em) {
    .section__about-heading {
      padding: 9rem 0 7rem; } }

.about-header-card-container {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 10; }
  @media only screen and (max-width: 65.31em) {
    .about-header-card-container {
      position: relative; } }

.about-header-card {
  background: #ffffff;
  border-radius: 1rem;
  padding: 2.5rem 2rem;
  max-width: 28rem; }
  .about-header-card:not(:last-child) {
    margin-right: 2rem; }
  @media only screen and (max-width: 65.31em) {
    .about-header-card {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .about-header-card {
      width: 100%; }
      .about-header-card:not(:last-child) {
        margin-right: 0; } }

.section__team {
  padding: 10rem 0; }

.section__need-help {
  padding: 10rem 0 0; }

.information-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem; }
  .information-links__box {
    background: #ffffff;
    box-shadow: 0 0.5rem 1.5rem rgba(37, 56, 88, 0.08);
    border-radius: 1.5rem;
    overflow: hidden; }
  .information-links__name {
    text-align: center;
    padding: 6rem 0 2rem; }
  .information-links__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  @media only screen and (max-width: 56.25em) {
    .information-links {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .information-links {
      grid-template-columns: 1fr;
      grid-gap: 4rem 0; } }

.disclaimer__content {
  padding: 1.8rem;
  color: #333d47; }

#referalsWrapper {
  display: none; }

.section__referal {
  padding: 10rem 0; }

.how-to-refer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .how-to-refer__box {
    background-color: #ffffff;
    box-shadow: 0 0.6rem 3rem rgba(60, 65, 78, 0.05);
    border-radius: 1rem;
    padding: 3rem;
    width: 45.2rem; }
    .how-to-refer__box:not(:last-child) {
      margin-right: 3.5rem; }
    @media only screen and (max-width: 65.31em) {
      .how-to-refer__box {
        width: 100%;
        margin-left: 0;
        margin-right: 0; }
        .how-to-refer__box:not(:last-child) {
          margin-bottom: 3.5rem; } }
