@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Mazzard-thin;
  src: url("../fonts/M/MazzardM-Thin.otf");
}
@font-face {
  font-family: Mazzard-Medium;
  src: url("../fonts/M/MazzardM-Medium.otf");
}
@font-face {
  font-family: Mazzard-SemiBold;
  src: url("../fonts/M/MazzardM-SemiBold.otf");
}
@font-face {
  font-family: Mazzard-Regular;
  src: url("../fonts/M/MazzardM-Regular.otf");
}
@font-face {
  font-family: Mazzard-Light;
  src: url("../fonts/M/MazzardM-Light.otf");
}
@font-face {
  font-family: Mazzard-ExtraLight;
  src: url("../fonts/M/MazzardM-ExtraLight.otf");
}
@font-face {
  font-family: Mazzard-ExtraBold;
  src: url("../fonts/M/MazzardM-ExtraBold.otf");
}
@font-face {
  font-family: Mazzard-Bold;
  src: url("../fonts/M/MazzardM-Bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: Mazzard-Black;
  src: url("../../fonts/M/MazzardM-Black.otf");
}
