// ******** Fix overflow ********
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// ******** Center content of an element horizontally and vertically ********
@mixin centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ******** Media query manager ********
/*
Phone -- 0-600px
Tablet-portrait -- 600px-900px
Tablet-landscape -- 900px-1200px
Big-desktop -- 1800+ px

Breakpoint choices
phone
tab-port
tab-land
big-desktop

*/
// 1em = 16px
@mixin responsive($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 28.75em) {
      @content;
    } // 460px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breakpoint == tab-land-small {
    @media only screen and (max-width: 65.31em) {
      @content;
    } // 1045px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}

// ******** Flexbox classes ********
// Flex row
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-aicenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-row-aiend {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@mixin flex-row-jccenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-row-jcend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin flex-row-jcbetween-aicenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-row-jccenter-aicenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-rowwrap {
  display: flex;
  flex-flow: row wrap;
}

@mixin flex-rowwrap-aicenter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@mixin flex-rowwrap-jcbetween {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@mixin flex-rowwrap-jcbetween-aistart {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-rowwrap-jcbetween-aicenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-rowwrap-jccenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@mixin flex-rowwrap-jccenter-aicenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

// Flex column
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-jcbetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// ******** Grid classes ********
// @mixin grid-row {
//   display: grid;
//   grid-template-columns: ;
// }
