// ****************** Colors ******************
$color-primary: #0668e3;
$color-primary-light: #7ab3f8;
// $color-secondary: #ea2e30;
// $color-secondary-light: #f05153;

$color-black: #000000;
$color-black-1: #333d47;
$color-black-2: #212529;
$color-black-3: #181d27;
$color-black-4: #003a9c05;

$color-white: #ffffff;
$color-white-1: #fffffffc;
$color-white-2: #d6dde870;
$color-white-3: #ffffff85;
$color-white-4: #f6faff;
$color-white-5: #ebf1ff;
$color-white-6: #ebf1ff9d;
$color-white-7: #ffffffcc;
$color-white-8: #9096a5;
$color-white-9: #ffffff1f;
$color-white-10: #a4b6cd3f;
$color-white-11: #ffffff99;
$color-white-12: #d6dde8;
$color-white-13: #e7eaef;
$color-white-14: #cee1f8;
$color-white-15: #5b5c5d;

$color-1: #ff9000;
$color-2: #945502;
$color-3: #253858;

// ****************** Grids ******************
$row-width: 115rem;
