.br {
  &--1,
  &--2,
  &--3 {
    @include responsive(phone) {
      display: none;
    }
  }
  &--4,
  &--5,
  &--6,
  &--7,
  &--8 {
    @include responsive(tab-port) {
      display: none;
  }
  // &--1{}
  // &--1{}
  // &--1{}
  // &--1{}
  // &--1{}
  // &--1{}
}
}
