.btn {
  background-color: $color-1;
  color: $color-white;
  font-size: 1.4rem;
  line-height: 1.7rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;

  &__links-item:link,
  &__links-item:visited {
    padding: 1.2rem 3rem;
    display: inline-block;
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &:active {
    transform: translateY(-0.05px);
    box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.1);
  }

  &__button {
    border: none;
    padding: 1.2rem 3rem;
  }

  &__full {
    width: 100%;
  }
}
