.customer-story-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  &__box {
    background-image: url(../img/card-stripes.png);
    background-repeat: no-repeat;
    background-size: 36.3rem 20rem;
    background-position: bottom right;

    background-color: $color-white-4;
    border-radius: 1.5rem;

    &--top {
      padding: 3rem 2.5rem;
    }
    &--bottom {
      padding: 3rem 2.5rem;
      border-top: 1px solid $color-white-5;
      @include flex-row-aicenter;
    }
  }

  &__img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;

    margin-right: 1rem;

    &-image {
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
    }
  }

  @include responsive(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include responsive(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}
