.input {
  &-grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1.9rem;

    @include responsive(small-phone) {
      grid-template-columns: 1fr;
      margin-bottom: 1.9rem;
      grid-gap: 0;
    }
  }

  &-grid-2-jcbetween-aicenter {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2.1rem;
    justify-content: space-between;
    align-items: center;

    @include responsive(small-phone) {
      grid-template-columns: 1fr;
      grid-gap: 0;
      margin-bottom: 1.9rem;

    }
  }

  &-group {
    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }
  }
  &__label {
    font-weight: 400;
    font-size: 1.4rem;
    color: $color-white-15;

    display: block;
    margin-bottom: 0.35rem;
    text-transform: capitalize;
  }

  &__input {
    width: 100%;

    border: 1px solid $color-white-12;
    border-radius: 0.4rem;

    padding: 1.4rem 1.2rem;
    resize: none;

    font-family: inherit;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-white-15;
      font-size: 1.5rem;
      font-family: inherit;
    }
  }
}
