.have-a-question {
  width: 89%;
  margin-left: auto;
  margin-right: auto;

  background: $color-white;
  border: 1px solid $color-white-6;
  border-radius: 2rem;
  padding: 5rem 2rem;
  text-align: center;

  background-image: url(../img/question-stripe.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  transform: translateY(50%);
}
