.links {
  &:link,
  &:visited {
    color: $color-1;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-decoration: none;

    display: inline-block;
    transition: 0.3s;
  }
  &:hover,
  &:active {
    color: $color-2;
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &.small-link {
    font-size: 1.5rem;
    line-height: 2rem;

    @include responsive(small-phone) {
      margin-top: 2rem;
    }
  }

  &-social {
    color: $color-primary;
    text-decoration: none;
    font-size: 2.5rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &-info {
    padding: 1.5rem;
    background-color: $color-1;
    color: $color-white;
  }
}
