.mobile-nav {
  @include flex-column-jcbetween;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  // background-color: green;
  // transform: translateX(300px);
  position: fixed;
  top: 0;
  right: -300px;
  transition: .4s;
  padding: 25px 20px 30px 20px;
  background-color: $color-white-4;
  z-index: 999;
  // background-image: url('../img/3.svg'), url('../img/4.svg');
  // background-repeat: no-repeat, no-repeat;
  // background-position: top right, bottom left;
  // background-size: 30.4rem 35.2rem, 30.4rem 35.2rem;
  &__close-btn {
    font-size: 30px;
    color: $color-primary;
    cursor: pointer;
  }

  &__open-btn {
    position: relative;
    margin-top: 0.9rem;
    user-select: none;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.4rem;
      display: inline-block;
      background-color: $color-primary;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
    }

    &::before {
      top: -0.9rem;
    }

    &::after {
      top: 0.9rem;
    }

    &--wrapper {
      display: none;

      &:hover span::before {
        width: 2.4rem;
      }

      &:hover span::after {
        width: 3.6rem;
      }

      @include responsive(tab-port) {
        display: block;
      }
    }
  }

  &__head {
    @include flex-row-jcbetween-aicenter
  }
  &__links {
    @include flex-column
    margin-top: 7rem;
    margin-bottom: 7rem;
    &--items {
      margin-bottom: 2rem
    }
  }
  &__bottom {
    @include flex-column
  }
}
