.standout-card {
  background-color: $color-white;
  border: 1px solid $color-black-4;
  box-shadow: 0px 0px 30px rgba($color-primary, 0.05);
  border-radius: 10px;

  background-image: url(../img/standout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  padding: 4rem;

  @include flex-row;
}
