.steps {
  &__list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    &-item {
      position: relative;
      padding-left: 4rem;
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-bottom: 2rem;

      align-self: center;
      &::before {
        position: absolute;
        content: url(../img/steps-mark.svg);
        top: -0.1rem;
        left: 0;
      }
    }
    @include responsive(phone) {
      display: grid;
      grid-template-columns: auto;
      justify-content: flex-start;
      // align-items: center;
    }
  }
}
