.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  background-color: $color-white;
  &-1 {
    border: 1px solid $color-white-12;
    border-radius: 1rem;

    &__head {
      border-radius: 1rem;

      th {
        text-align: left;
        padding: 2rem 2.5rem;
        border: 1px solid $color-white-12;
        background-color: $color-primary;
        color: $color-white;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2rem;
      }
    }
    &__data {
      td {
        text-align: left;
        padding: 2rem 2.5rem;
        border: 1px solid $color-white-12;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }

  &-2 {
    border: 1px solid $color-white-12;
    border-radius: 1rem;

    &__head {
      border-radius: 1rem;

      th {
        text-align: center;
        padding: 2rem 0.2rem;
        border: 1px solid $color-white-12;
        @include responsive(tab-port) {
          padding: 2rem 1rem;
        }
      }
    }
    &__data {
      td {
        text-align: center;
        padding: 2rem 0.2rem;
        border: 1px solid $color-white-12;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;

        &[class*="--title"] {
          background-color: $color-primary;
          color: $color-white;
          text-align: left;
          padding-left: 1rem;
          font-weight: 500;
          font-size: 1.5rem;

          @include responsive(tab-port) {
            padding: 2rem;
          }
        }

        &.highest {
          color: $color-primary;
          @include responsive(tab-port) {
            padding: 2rem 1rem;
          }
        }
        &.total {
          font-weight: 600;
          @include responsive(tab-port) {
            padding: 2rem 1rem;
          }
        }

        @include responsive(tab-port) {
          padding: 2rem 1rem;
        }
      }
    }
  }
}
