.team {
  display: grid;
  grid-template-columns: repeat(3, minmax(34.6rem, 1fr));
  grid-gap: 4rem;

  &__member {
    &-image {
      height: 26rem;
      border-radius: 1rem;
      overflow: hidden;

      @include responsive(tab-land) {
        height: 46rem;
      }
      @include responsive(tab-port) {
        height: 40rem;
      }
      @include responsive(small-phone) {
        height: 35rem;
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-details {
      @include flex-row-jcbetween-aicenter;
    }
  }

  @include responsive(tab-land) {
    grid-template-columns: repeat(2, minmax(34.6rem, 1fr));
  }
  @include responsive(tab-port) {
    grid-template-columns: 1fr;
  }
}
