body {
  font-family: Mazzard-Regular, "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: $color-black-1;
}

.heading-primary {
  font-family: Mazzard-Bold;
  font-weight: bold;
  font-size: 4.4rem;
  line-height: 5rem;
  @include responsive(phone) {
    font-size: 3.8rem;
    line-height: 4rem;
  }
}

.heading-primary-small {
  font-size: 3.7rem;
  @include responsive(phone) {
    font-size: 3rem;
  }
}

.heading-primary-small--sub {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.heading-primary--sub {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.heading-2 {
  font-family: Mazzard-Bold;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.heading-2--sub {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.heading-description__top-text {
  color: $color-primary;
  font-family: Mazzard-Bold;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0.380952px;
  text-transform: uppercase;

  &--white {
    color: $color-white-11;
  }
}

.heading-3 {
  font-family: Mazzard-SemiBold;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;

  &--light {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  &--careers {
    font-family: Mazzard-Regular;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
.heading-3--sub {
  
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}

.heading-4 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $color-white;

  &--black {
    color: $color-black-1;
    font-family: Mazzard-SemiBold;
  }
}

.heading-5 {
  font-family: Mazzard-SemiBold;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
}

.heading-6 {
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 2.6rem;
}

.heading-small {
  font-family: Mazzard-Bold;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.paragragh-1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.paragraph-remark {
  position: relative;
  padding-left: 3rem;
  &::before {
    position: absolute;
    content: "😁";
    left: 0;
    top: 0;
  }
}

.paragragh-2 {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
}

.paragragh-3 {
  
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: inherit;
}

.paragragh-4 {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: $color-black-2;
}

.agree-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: $color-white-15;
  @include responsive(small-phone) {
    margin-bottom: 1.9rem;
  }
}
