// Alignment
.centerAlign {
  text-align: center;
}

// Margins ************
// bottom
.margin-bottom-big {
  margin-bottom: 10.5rem;
}
.margin-bottom-medium {
  margin-bottom: 5rem;
}
.margin-bottom-small {
  margin-bottom: 1rem;
}
.margin-bottom-1 {
  margin-bottom: 2rem;
}
.margin-bottom-2 {
  margin-bottom: 6rem;
}
.margin-bottom-3 {
  margin-bottom: 0.3rem;
}
.margin-bottom-4 {
  margin-bottom: 3.5rem;
}
.margin-bottom-5 {
  margin-bottom: 0.5rem;
}
// top
.margin-top-1 {
  margin-top: 2rem;
}
.margin-top-2 {
  margin-top: 4rem;
}
// right
.margin-right-small {
  margin-right: 2rem;
}
.margin-right-1 {
  margin-right: 1rem;
}


// Padding ******************
.padding-bottom-100 {
  padding-bottom: 10rem !important;
}
.padding-top-100 {
  padding-top: 10rem !important;
}

// Colors
.color-white {
  color: $color-white;
}
.color-white-1 {
  color: $color-white-1;
}
.color-black-1 {
  color: $color-black-1;
}
.color-orange {
  color: $color-1;
}
.bg-color-primary {
  background-color: $color-primary;
}
.bg-color-light {
  background-color: $color-white-4;
}

// Display **************
.display-block {
  display: block !important;
}

//
.padding-y-100 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

// overflow **************
.overflow-visible {
  overflow-y: visible !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.position-relative {
  position: relative !important;
}
