.section__about-heading {
  padding: 17rem 0 7rem;

  @include responsive(tab-land-small) {
    padding: 9rem 0 7rem;
  }
}

.about-header-card-container {
  @include flex-rowwrap;
  position: absolute;
  left: 0;
  bottom: 5%;
  z-index: 10;

  @include responsive(tab-land-small) {
    position: relative;
  }
}

.about-header-card {
  background: $color-white;
  border-radius: 1rem;
  padding: 2.5rem 2rem;

  max-width: 28rem;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  @include responsive(tab-land-small) {
    margin-bottom: 2rem;
  }
  @include responsive(phone) {
    width: 100%;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.section__team {
  padding: 10rem 0;
}

.section__need-help {
  padding: 10rem 0 0;
}

.information-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;

  &__box {
    background: $color-white;
    box-shadow: 0 0.5rem 1.5rem rgba($color-3, 0.08);
    border-radius: 1.5rem;
    overflow: hidden;
  }
  &__name {
    text-align: center;
    padding: 6rem 0 2rem;
  }
  &__link {
    @include flex-row-jcend;
  }

  @include responsive(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(phone) {
    grid-template-columns: 1fr;
    grid-gap: 4rem 0;
  }

}
