.section__advisory-boards {
  padding: 10rem 0;
}

.advisory-board {
  @include flex-row;
  padding-bottom: 4rem;
  padding-top: 4rem;

  &__details {
    padding-left: 4rem;
    padding-top: 2rem;
    @include responsive(tab-port) {
      padding-left: 0;
      margin-top: 2rem;
    }
  }

  &__image-holder {
    width: 34.6rem;
    height: 26rem;
    border-radius: 1rem;
    overflow: hidden;

    @include responsive(small-phone) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-white-12;
  }

  @include responsive(tab-port) {
    @include flex-column;
  }
}
