.section__career-gallery {
  padding: 9rem 0 0;
}

.career-gallery {
  &__img {
    object-fit: cover;
    width: 100%;
  }
}

.center-positions {
  width: 65%;
  margin-right: auto;
  margin-left: auto;

  @include responsive(phone) {
    width: 100%;
  }
}
