.section__contact {
  padding: 10rem 0;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;

  &__info--details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    &-left {
    }
    &-right {
    }

    @include responsive(phone) {
      grid-template-columns: 1fr;
      grid-gap: 4rem 0;
    }
  }

  @include responsive(tab-land-small) {
    grid-template-columns: 1fr;
    grid-gap: 5rem 0;
  }
}
