.section__faq {
  padding: 10rem 0;
}

.faq {
  &-layout {
    display: grid;
    grid-template-columns: 22% 75%;
    grid-gap: 3rem 3%;

    @include responsive(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 3rem 0;
  }
  }
}
