.section__heading-products {
  padding: 9rem 0 0;

  // background-image: url(../img/3.svg);
  background-image: url(../img/Gro.png);

  background-repeat: no-repeat;
  background-size: 39.4rem 44.2rem;
  background-position: bottom right;

  @include responsive(tab-port) {
    background-image: none;
  }
}

.loan-application {
  display: grid;
  grid-template-columns: 50% auto;
  justify-content: space-between;
  align-items: center;

  padding-top: 4.5rem;

  @include responsive(tab-port) {
    grid-template-columns: 100%;
  }

  &__form-img {
    @include responsive(tab-port) {
      margin-left: auto;
      margin-right: auto;
      grid-row: 1;
    }
    @include responsive(phone) {
      width: 100%
    }
  }
  .steps {
    @include responsive(tab-port) {
      // grid-row: 2;
    }
  }
}

.section__solid-returns {
  // background-image: url(../img/4.svg);
  background-image: url(../img/Grou.png);

  background-repeat: no-repeat;
  background-size: 39.4rem 44.2rem;
  background-position: bottom left;

  @include responsive(tab-port) {
    padding-bottom: 7rem;
    background-image: none;
  }
}

.solid-returns {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: space-between;
  align-items: center;

  @include responsive(tab-port) {
    grid-template-columns: 100%;
  }
  &__table-img {
    @include responsive(tab-port) {
      margin-left: auto;
      margin-right: auto;
    }
    @include responsive(phone) {
    width: 100%
    }
  }

}

.section__why-nodcredit {
  background-image: url(../img/background-logo.png), url(../img/bg-stripes.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 72.4rem 11.3rem, cover;
  background-position: bottom left, center center;
  padding: 10rem 0;
  background-color: $color-white-4;

  @include responsive(tab-port) {
    background-size: 70%, cover;
  }
}

.why-nodcredit {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: space-between;

  @include responsive(tab-land-small) {
    grid-template-columns: auto 60%;
  }
  @include responsive(tab-port) {
    grid-template-columns: 100%;
  }
  &__breakdown {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3rem 2rem;
    justify-content: space-between;

    &-steps {
      &--number {
        display: block;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: $color-black-2;
      }
    }

    @include responsive(tab-port) {
      margin-top: 5rem;
    }
    @include responsive(phone) {
      grid-template-columns: 100%;
      grid-gap: 3rem 0;
    }
  }
}

.section__customer-story {
  padding: 8rem 0 0;
}
