.section__compare {
  padding: 10rem 0;
}

.compare-layout {
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 3rem;

  @include responsive(tab-land-small) {
    grid-template-columns: 100%;
    grid-gap: 3rem 0;
  }

  &__form {
    @include responsive(tab-land-small) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__table {
    overflow-x: scroll;

  }


}
