.section__referal {
  padding: 10rem 0;
}

.how-to-refer {
  @include flex-rowwrap-jccenter;
  &__box {
    background-color: $color-white;
    box-shadow: 0 0.6rem 3rem rgba(60, 65, 78, 0.05);
    border-radius: 1rem;
    padding: 3rem;
    width: 45.2rem;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }

    @include responsive(tab-land-small) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 3.5rem;
      }
    }
  }
}
