.dropdown {
  position: relative;
  display: inline-block;

  &__content {
    background-color: $color-white-1;
    border: 1px solid rgba(214, 221, 232, 0.42);
    box-shadow: 0px .2rem 1.4rem rgba(51, 61, 71, 0.0917559);
    border-radius: 1rem;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    // display: none;

    min-width: 37rem;
    // height: 50rem;

    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 9999999999;
    transform: translateX(-40%);

    &-top {
      @include flex-column
      padding: 0.5rem;
    }
    &-links {
      padding: 1.5rem;
      display: block;
      transition: .3s;
      text-decoration: none;
      margin-bottom: 0rem;
      border: 0.5px solid transparent;
      border-radius: .5rem;
      font-family: Mazzard-Medium;
      color: inherit;
      &--title {
        font-family: Mazzard-Medium;
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: 0.5rem
      }
      &--description {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgba($color-black-1, 0.7);
      }

      &:hover {
        background: rgba(255, 144, 0, 0.03);
        border-color: rgba(255, 144, 0, 0.24817);
      }
    }
    &:hover {
      display: block;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      // display: block;
    }

    &-bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-top: 1px solid #D6DDE8;

      &>* {
        padding-left: 2.5rem;
        &:not(:last-child) {
          border-right: 1px solid #D6DDE8;
        }
      }
      a {
        margin-bottom: 0;
      }
    }
  }

}
