.faq {
  &__toggler {
    border: 1px solid $color-white-13;
    border-radius: 1rem;
    overflow: hidden;

    background-color: $color-white;
  }

  &__type {
    padding: 2rem 1rem 2rem 2rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;
    display: block;
    transition: .3s;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid $color-white-13;
    }

    &.active {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &__details {
  }

  &__wrapper {
    @include flex-column;
  }

  &__main-container {
    border: 1px solid $color-white-13;
    border-radius: 0.3rem;
    background-color: $color-white;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__header {
    @include flex-row-jcbetween-aicenter;
    padding: 1.8rem;
    border-bottom: 1px solid $color-white-13;
    cursor: pointer;
  }

  &__toggle-icon {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: $color-white-14;

    display: grid;
    place-items: center;

    span {
      color: $color-primary;
      font-weight: 400;
      font-size: 1.3rem;
    }

    &--plus,
    &--minus {
      transition: .3s;
      display: none;
    }

    &--plus.active,
    &--minus.active {
      display: block;
    }
  }

  &__content {
    padding: 1.8rem;
    color: $color-black-1;

    display: none;
  }
}

#investFaqWrapper,
#referFaqWrapper {
  display: none;
}
