.footer {
  background-color: $color-black-3;
  padding: 20rem 0 10rem;

  &__top {
    @include flex-rowwrap-jcbetween;
    padding-bottom: 6rem;
  }

  &__app-text {
    display: block;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $color-white-7;
  }

  &__app-store {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.6rem;
    }
  }

  &__mini-heading {
    font-weight: 300;
    display: block;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $color-white;
  }

  &__links {
    @include flex-rowwrap;

    &-lists {
      @include flex-column;
      &:not(:last-child) {
        margin-right: 9rem;
      }
    }

    &-head {
      color: $color-white;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem;
    }

    &-item {
      font-weight: 300;
      font-size: 1.6rem;
      //   line-height: 3.4rem;
      color: $color-white-8;
      margin-bottom: 1.5rem;
      text-decoration: none;
    }
    @include responsive(tab-port) {
      // order: -1;
      margin-top: 7rem;
    }
  }

  &__bottom {
    border-top: 1px solid $color-white-9;
    padding-top: 6rem;
  }

  &__paragraph {
    color: $color-white-8;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
}
