.row {
  @include clearfix;
  width: 100%;
}

.center {
  @include clearfix;
  max-width: $row-width;
  margin: 0 auto;
  @include responsive(tab-land) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
