.how-it-works-2 {
  &__steps {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem 5rem;
    justify-content: space-between;

    @include responsive(tab-port) {
      grid-template-columns: 100%;
      grid-gap: 5rem 0;
    }

    &-box {
      text-align: center;
    }
    &-number {
      display: grid;
      place-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $color-white;
      margin-right: auto;
      margin-left: auto;

      span {
        font-size: 1.3rem;
        color: $color-black-2;
      }
    }
  }
}
