.mobile-dropdown {
  position: relative;
  // display: block;
  margin-bottom: 2rem;

  &__content {
    background-color: $color-white-1;
    border: 1px solid rgba(214, 221, 232, 0.42);
    // box-shadow: 0px .2rem 1.4rem rgba(51, 61, 71, 0.0917559);
    border-radius: 0 0 1rem 1rem;
    transition: .3s;
    display: none;
    width: 100%;

    // min-width: 31rem;
    // height: 50rem;

    // position: absolute;
    // top: 4rem;
    // left: 0;
    z-index: 9999999999;
    // transform: translateX(-40%);

    &-top {
      @include flex-column
      padding: 1rem;
    }
    &-links {
      padding: 1rem .5rem;
      display: block;
      transition: .3s;
      text-decoration: none;
      border: 0.5px solid transparent;
      border-radius: .5rem;
      margin-bottom: 1rem;
      color: inherit;
      &--title {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
      }
      &--description {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: rgba($color-black-1, 0.7);
        display: none;
      }

      &:hover {
        background: rgba(255, 144, 0, 0.03);
        border-color: rgba(255, 144, 0, 0.24817);
      }
    }
    // &:hover {
    //   display: block;
    // }

    &.active {
      display: block;
    }
  }

  &__toggle {
    &.active {
      background-color: $color-primary;
      color: $color-white;
      padding-top: 1rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
      border-radius: .5rem .5rem 0 0;
      display: block;
      margin: 0;
    }
  }

}
