.standout-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  @include responsive(tab-port) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0;
  }
}
