.top-nav {
  @include flex-rowwrap-jcbetween-aicenter;
  padding: 3rem 0;

  &__logo {
    width: 14rem;
    height: 2.7rem;
  }

  &__links {
    @include flex-row-aicenter;

    &-item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }

    &-item:link,
    &-item:visited {
      color: $color-black-2;
      font-style: normal;
      font-family: Mazzard-Medium;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-decoration: none;
      transition: 0.3s;
    }

    &-item:hover,
    &-item:active {
      color: $color-primary;
    }
    &-item {
      &.active {
        color: $color-primary;
      }
    }

    @include responsive(tab-port) {
      display: none;
    }
    }
  }


.nav-top {
  border-bottom: 1px solid $color-white-10;
}
