.header__top-header {
  padding: 2.5rem 0 0;
  overflow-x: hidden;
  &--home {
    padding: 8rem 0 8rem;
    // overflow-y: visible;
    position: relative;

    @include responsive(tab-land-small) {
      padding-top: 5rem;
    }
  }
  &--about {
    padding: 0 0 4rem;
    overflow: visible;

    @include responsive(tab-land-small) {
      padding: 4rem 0 4rem;
    }
  }
  &--referal {
    padding: 4rem 0 6rem;
    overflow: visible;

    background-image: url(../img/blue-bg.svg);
    background-repeat: no-repeat;
    background-size: 72rem 44.9rem;
    background-position: top right;

    @include responsive(tab-land-small) {
      background-image: none;
    }
  }
}

.top-header {
  //   @include flex-row-jcbetween-aicenter;
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: space-between;
  align-items: center;

  &__left {
    @include responsive(tab-land-small) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    @include responsive(tab-port) {
      width: 80%;
    }
    @include responsive(phone) {
      width: 100%;
    }

    &-home {
      // transform: translateY(-5rem);
      // @include responsive(tab-land-small) {
      //   transform: translateY(0);
      // }
    }
  }
  &__right {
    @include responsive(tab-land-small) {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem;
    }
    @include responsive(tab-port) {
      width: 80%;
    }
    @include responsive(phone) {
      width: 100%;
    }
  }
  &__img {
    &--home {
      // width: 81.2rem;
      // height: 72.2rem;
      transform: translateX(15rem);
      z-index: 1;
      width: 100%;
      margin-left: auto;

      @include responsive(tab-land-small) {
        transform: translateX(0);
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
      }
      @include responsive(tab-port) {
        width: 80%;
      }
      @include responsive(phone) {
        width: 100%;
      }
    }
    &--loan {
      width: 80%;
      margin-left: auto;
      @include responsive(tab-land-small) {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
      }
      @include responsive(tab-port) {
        width: 80%;
      }
      @include responsive(phone) {
        width: 100%;
      }
    }
    &--about {
      transform: translateY(9.5rem);

      @include responsive(tab-land-small) {
        // width: 50%;
        // margin-left: auto;
        // margin-right: auto;
        // margin-top: 4rem;
        display: none;
      }
      @include responsive(tab-port) {
        // width: 80%;
      }
      @include responsive(phone) {
        // width: 100%;
      }
    }
    &--referal {
      // transform: translateY(3.5rem);
      @include responsive(tab-land-small) {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
      }
      @include responsive(tab-port) {
        width: 80%;
      }
      @include responsive(phone) {
        width: 100%;
      }
    }
  }

  &__options-navigator {
    @include flex-row-aicenter;
    border-bottom: 1px solid $color-white-2;

    &--btn {
      color: $color-white-3;
      padding-bottom: 1.5rem;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem;
      position: relative;
      transition: .3s;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: $color-1;
        transition: .3s;
      }

      &.active {
        color: $color-white-1;
      }
      &.active::after {
        height: 0.3rem;
      }
    }
  }

  &__option {
    &--1 {
    }
    &--2 {
      display: none;
    }

    &-link {
      @include flex-row-aicenter;
      @include responsive(small-phone) {
        @include flex-column;
        align-items: flex-start;
      }
    }
  }

  @include responsive(tab-land-small) {
    grid-template-columns: 100%;
  }
}

.header-bottom-prime {
  height: 14rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $color-white;

}

#investImg {
  display: none;
}
